.balance-app * {
    box-sizing: border-box
  }
  
  .balance-app {
    padding: 20px;
  }
  
  .balance-app__container {
    max-width: 1240px;
    margin: 0 auto;
  }
  
  .balance-app__blocks {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-self: start;
  }
  
  .balance-app__blocks-tier {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    justify-content: center;
    min-height: 220px;
    margin-bottom: 70px;
  }
  
  .balance-app__blocks-tier:last-child {
    margin-bottom: 0;
  }
  
  .balance-app__blocks-tier_shift-right {
    justify-content: flex-end;
  }
  
  
  .balance-app__blocks-pair {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    justify-content: space-between;
    width: 190px;
    margin-right: 20px;
    border-bottom: 2px solid #305090;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 2px;
    position: relative;
    font-style: italic;
  }
  
  .balance-app__blocks-pair:last-child {
    margin-right: 0;
  }
  
  .balance-app__blocks-pair-text {
    flex-basis: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    font-size: 14px;
  }

  .balance-app__blocks-pair-text-sum{
    font-weight: bold;
  }
  
  .balance-app__blocks-instance {
    height: calc(100% - 20px);
    width: 75px;
    position: relative;
    /* overflow: hidden; */
  }
  
  .balance-app__blocks-pair-desc {
    position: absolute;
    top: calc(100% + 5px);
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    font-style: normal;
    font-weight: bold;
  }
  
  .balance-app__blocks-item {
    padding: 0px 0;
    width: 100%;
    border: 0;
    outline: 2px solid #aaaacc;
    // overflow: hidden;
    // border-bottom: 0px;
    cursor: pointer;
    position: relative;
    transition: height 1s;
  }

  .balance-app__blocks-item-selected{
    border-width: 5px;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 10px, rgba(255,255,255,.5) 10px, rgba(255,255,255,.5) 20px);
  }
  
  .balance-app__blocks-item_assets {
    background-color: #37aee2;
  }
  
  .balance-app__blocks-item_equity {
    background-color: #005500;
  }
  
  .balance-app__blocks-item_liabilities {
    background-color: rgb(249, 150, 0);
  }
  
  .balance-app__blocks-item-text {
    width: max-content;
    margin: 0 auto;
    height: 100%;
    overflow: hidden;
    text-align: center;
    color: #ffffff;
    position: relative;
    filter: drop-shadow(1px 1px 2px black);
  }
  
  .balance-app__blocks-item-text span {
    display: block;
    margin: 0 auto;
    white-space: nowrap;
    font-size: 14px;
  }
  
  .balance-app__blocks-pair-text {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
  }
  
  .balance-app__blocks-pair-text span:nth-child(2){
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .balance-app__blocks-group {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    margin-right: 60px;
    padding-top: 30px;
  }
  
  .balance-app__blocks-group:last-child {
    margin-right: 0;
  }
  
  .balance-app__blocks-group::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    border: 2px solid #005090;
    border-bottom: 0px;
  }
  
  .balance-app__blocks-group.balance-app__blocks-group_not-a-child {
    padding-top: 0;
  }
  
  .balance-app__blocks-group.balance-app__blocks-group_not-a-child::before {
    display: none;
  }
  
  .balance-app__blocks-pair_parent::after {
    content: '';
    position: absolute;
    top: calc(100% + 46px);
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 25px;
    background-color: #005090;
  }
  
  .balance-app__delta-txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    background: radial-gradient(circle, rgba(255,255,255,.8) 35%, rgba(255,255,255,0) 70%);
    border-radius: 50%;
    overflow: visible;
    width: 40px;
    height: 40px;
    z-index: 1;
    display: none;
    font-style: normal;
  }

  .balance-app__delta-txt span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80%;
  }

  .balance-app__delta-txt-positive{
    color: green;
    display: block;
  }

  .balance-app__delta-txt-negative{
    color: red;
    display: block;
  }

  .controls{
    margin: 30px;
  }