  <div class="balance-app__blocks-pair">
    <div class="balance-app__blocks-pair-text">
      <span>
        Assets
      </span>
      <span class="balance-app__blocks-pair-text-sum">
        {{sector.sum}}$
      </span>
      <span>
        Liabilities
      </span>
    </div>
    <div class="balance-app__blocks-instance">
      <div *ngFor="let element of sector.assets;trackBy: trackElement"
            [style.height]="element.value * scale + 'px'"
            [style.backgroundColor]="element.color"
            (click)="onClick(element.id)"
            [class.balance-app__blocks-item-selected] = "element.id === selectedElementId"
            class="balance-app__blocks-item balance-app__blocks-item_assets"
            title="{{element.translation}}&#10;{{element.value}}$"
            >
            <div
            [class.balance-app__delta-txt-positive] = "element.delta > 0"
            [class.balance-app__delta-txt-negative] = "element.delta < 0"
            class="balance-app__delta-txt balance-app__delta-txt_left">
            <div>
              <span>
                {{element.delta > 0 ? "+" + element.delta : element.delta }}
              </span>
            </div>
          </div>
          <div class="balance-app__blocks-item-text">
            <span>
              {{element.name}}
            </span>
            <span>
              {{element.value}}$
            </span>
          </div>
      </div>
    </div>
    <div class="balance-app__blocks-instance">
      <div *ngFor="let element of sector.liabilities;trackBy: trackElement"
            [style.height]="element.value * scale + 'px'"
            [style.backgroundColor]="element.color"
            (click)="onClick(element.id)"
            [class.balance-app__blocks-item-selected] = "element.id === selectedElementId"
            class="balance-app__blocks-item balance-app__blocks-item_liabilities"
            title="{{element.translation}}&#10;{{element.value}}$"
            >
          <div
            [class.balance-app__delta-txt-positive] = "element.delta > 0"
            [class.balance-app__delta-txt-negative] = "element.delta < 0"
            class="balance-app__delta-txt balance-app__delta-txt_right">
            <span>
              {{element.delta > 0 ? "+" + element.delta : element.delta }}
            </span>
          </div>
          <div class="balance-app__blocks-item-text">
            <span>
              {{element.name}}
            </span>
            <span>
              {{element.value}}$
            </span>
          </div>
      </div>
    </div>
    <div class="balance-app__blocks-pair-desc" title="{{sector.translation}}">
      <span>{{sector.translation}}</span>
    </div>
  </div>
