.balance-app * {
  box-sizing: border-box
}

.balance-app {
  padding: 20px;
}

.balance-app__container {
  max-width: 1240px;
  margin: 0 auto;
}

.balance-app__blocks {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-self: start;
  padding: 0 20px;
  padding-bottom: 80px;
  overflow-x: auto;
}

.balance-app__blocks-tier {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: center;
  margin-bottom: 40px;
  min-width: max-content;
}

.balance-app__blocks-tier:last-child {
  margin-bottom: 0;
}

.balance-app__blocks-tier_shift-right {
  justify-content: flex-end;
}


.balance-app__blocks-pair {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  justify-content: space-between;
  width: 195px;
  margin-right: 20px;
  margin-bottom: 15px;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;

}

.balance-app__blocks-pair:last-child {
  margin-right: 0;
}

.balance-app__blocks-pair-text {
  flex-basis: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;

}

.balance-app__blocks-instance {
  height: calc(100% - 20px);
  width: 90px;
  position: relative;
  /* overflow: hidden; */
}

.balance-app__blocks-pair-desc {
  position: absolute;
  top: calc(100% + 5px);
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
}

.balance-app__blocks-item {
  padding: 5px 0;
  width: 100%;
  border: 2px solid #aaaacc;
  border-bottom: 0px;
  position: relative;
  transition: height 1s;
}

.balance-app__blocks-item_assets {
  background-color: #37aee2;
}

.balance-app__blocks-item_equity {
  background-color: #005500;
}

.balance-app__blocks-item_liabilities {
  background-color: rgb(249, 150, 0);
}

.balance-app__blocks-item-text {
  width: 100%;
  text-align: center;
  color: #ffffff;
  position: relative;
}

.balance-app__blocks-item-text span {
  white-space: nowrap;
}

.balance-app__blocks-pair-text {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
}

.balance-app__blocks-pair-text span:nth-child(2){
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.balance-app__blocks-group {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  margin-right: 20px;
  padding-top: 15px;
}

.balance-app__blocks-group:only-of-type {
  margin-right: 0;
}

.balance-app__blocks-group:last-child {
  margin-right: 0;
}

.balance-app__blocks-group::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 15px;
  border: 2px solid #005090;
  border-bottom: 0px;
}

.balance-app__blocks-group.balance-app__blocks-group_not-a-child {
  padding-top: 0;
}

.balance-app__blocks-group.balance-app__blocks-group_not-a-child::before {
  display: none;
}

.balance-app__blocks-pair_parent::after {
  content: '';
  position: absolute;
  top: calc(100% + 40px);
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 17px;
  background-color: #005090;
}

.tooltip-header{
  background-color: none;
  font-weight: bold;
  color: black;
  font-size: 18px;
}

.description{
  max-width: 70%;
}

.tooltip{
  border: 1px solid transparent;
  font-size: 14px;
  margin: 10px 0px;
  border-radius: 5px;
  padding: 5px;
  background-color: rgb(196, 199, 38);
}

.error{
  border-radius: 20px;
  padding: 20px;
  background-color: #e42f62;
  color: white;
}

.operation-description{
  margin-top: 10px;

}

.operation-description p{
  margin-top:5px;
}

.balance-app__value, .balance-app__btns, .balance-app__error, .balance-app__operation-selector {
  margin-bottom: 10px;
}

.balance-app__value span {
  margin-right: 15px;
}

.balance-app__value input {
  width: 70px;
  margin-right: 4px;
}

.balance-app__operation-selector select {
  width: 100%;
}

.balance-app__btns button {
  margin-right: 4px;
}

.balance-app__btns button:last-child {
  margin-right: 0;
}

.balance-app__controls {
  padding-top: 10px;
  border-top: 1px solid #aaaacc;
}

// .balance-app__description .description {
//   max-width: unset;
//   width: 100%;
// }