  <section class="balance-app">
    <div class="balance-app__container">
      <div class="balance-app__blocks">
        <div class="balance-app__blocks-tier">
          <div class="balance-app__blocks-group balance-app__blocks-group_not-a-child">
            <div class="balance-app__blocks-pair balance-app__blocks-pair_parent">
              <div class="balance-app__blocks-pair-text">
                <span>
                  assets
                </span>
                <span>
                  450$
                </span>
                <span>
                  liabilities
                </span>
              </div>
              <div class="balance-app__blocks-instance" title="total agg assests">
                <div class="balance-app__blocks-item balance-app__blocks-item_assets" style="height: 160px">
                  <div class="balance-app__delta-txt  balance-app__delta-txt_left">
                    <span>
                      30
                    </span>
                  </div>
                  <div class="balance-app__blocks-item-text">
                    <span>
                      Assets
                    </span>
                    <span>
                      $450
                    </span>
                  </div>
                </div>
              </div>
              <div class="balance-app__blocks-instance" title="total agg liabilities">
                <div class="balance-app__blocks-item balance-app__blocks-item_liabilities" style="height: 160px">
                  <div class="balance-app__delta-txt  balance-app__delta-txt_right">
                    <span>
                      30
                    </span>
                  </div>
                  <div class="balance-app__blocks-item-text">
                    <span>
                      liabilities
                    </span>
                    <span>
                      $450
                    </span>
                  </div>
                </div>
              </div>
              <div class="balance-app__blocks-pair-desc">
                <span>
                  Total economy (aggregate)
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="balance-app__blocks-tier">
          <div class="balance-app__blocks-group balance-app__blocks-group_parent">
            <div class="balance-app__blocks-pair balance-app__blocks-pair_parent">
              <div class="balance-app__blocks-pair-text">
                <span>
                  assets
                </span>
                <span>
                  $370
                </span>
                <span>
                  liabilities
                </span>
              </div>
              <div class="balance-app__blocks-instance">
                <div class="balance-app__blocks-item balance-app__blocks-item_equity" style="height: 120px">
                  <div class="balance-app__delta-txt  balance-app__delta-txt_left">
                    <span>
                      30
                    </span>
                  </div>
                  <div class="balance-app__blocks-item-text">
                    <span>
                      Neg. equity
                    </span>
                    <span>
                      $200
                    </span>
                  </div>
                </div>
                <div class="balance-app__blocks-item balance-app__blocks-item_assets" style="height: 60px">
                  <div class="balance-app__delta-txt  balance-app__delta-txt_left">
                    <span>
                      30
                    </span>
                  </div>
                  <div class="balance-app__blocks-item-text">
                    <span>
                      Assets
                    </span>
                    <span>
                      $170
                    </span>
                  </div>
                </div>
              </div>
              <div class="balance-app__blocks-instance" style="height: calc(100% - 20px)">
                <div class="balance-app__blocks-item balance-app__blocks-item_liabilities" style="height: 180px">
                  <div class="balance-app__delta-txt  balance-app__delta-txt_right">
                    <span>
                      30
                    </span>
                  </div>
                  <div class="balance-app__blocks-item-text">
                    <span>
                      liabilities
                    </span>
                    <span>
                      $450
                    </span>
                  </div>
                </div>
              </div>
              <div class="balance-app__blocks-pair-desc">
                <span>
                  Federal government (aggregaate)
                </span>
              </div>
            </div>
            <div class="balance-app__blocks-pair balance-app__blocks-pair_parent">
              <div class="balance-app__blocks-pair-text">
                <span>
                  assets
                </span>
                <span>
                  240$
                </span>
                <span>
                  liabilities
                </span>
              </div>
              <div class="balance-app__blocks-instance" style="height: calc(100% - 20px)">
                <div class="balance-app__blocks-item balance-app__blocks-item_equity" style="height: 160px">
                  <div class="balance-app__delta-txt  balance-app__delta-txt_left">
                    <span>
                      30
                    </span>
                  </div>
                  <div class="balance-app__blocks-item-text">
                    <span>
                      Equity
                    </span>
                    <span>
                      $450
                    </span>
                  </div>
                </div>
              </div>
              <div class="balance-app__blocks-instance" style="height: calc(100% - 20px)">
                <div class="balance-app__blocks-item balance-app__blocks-item_equity" style="height: 120px">
                  <div class="balance-app__delta-txt  balance-app__delta-txt_right">
                    <span>
                      30
                    </span>
                  </div>
                  <div class="balance-app__blocks-item-text">
                    <span>
                      Equity
                    </span>
                    <span>
                      $180
                    </span>
                  </div>
                </div>
                <div class="balance-app__blocks-item balance-app__blocks-item_liabilities" style="height: 40px">
                  <div class="balance-app__delta-txt  balance-app__delta-txt_right">
                    <span>
                      30
                    </span>
                  </div>
                  <div class="balance-app__blocks-item-text">
                    <span>
                      liabilities
                    </span>
                    <span>
                      $60
                    </span>
                  </div>
                </div>
              </div>
              <div class="balance-app__blocks-pair-desc">
                <span>
                  Private sector (aggregaate)
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="balance-app__blocks-tier balance-app__blocks-tier_shift-right">
          <div class="balance-app__blocks-group">
            <div class="balance-app__blocks-pair">
              <div class="balance-app__blocks-pair-text">
                <span>
                  assets
                </span>
                <span>
                  $370
                </span>
                <span>
                  liabilities
                </span>
              </div>
              <div class="balance-app__blocks-instance" style="height: calc(100% - 20px)">
                <div class="balance-app__blocks-item balance-app__blocks-item_equity" style="height: 120px">
                  <div class="balance-app__delta-txt  balance-app__delta-txt_left">
                    <span>
                      30
                    </span>
                  </div>
                  <div class="balance-app__blocks-item-text">
                    <span>
                      Neg. equity
                    </span>
                    <span>
                      $200
                    </span>
                  </div>
                </div>
                <div class="balance-app__blocks-item balance-app__blocks-item_assets" style="height: 40px">
                  <div class="balance-app__delta-txt  balance-app__delta-txt_left">
                    <span>
                      30
                    </span>
                  </div>
                  <div class="balance-app__blocks-item-text">
                    <span>
                      Assets
                    </span>
                    <span>
                      $170
                    </span>
                  </div>
                </div>
              </div>
              <div class="balance-app__blocks-instance" style="height: calc(100% - 20px)">
                <div class="balance-app__blocks-item balance-app__blocks-item_liabilities" style="height: 160px">
                  <div class="balance-app__delta-txt  balance-app__delta-txt_right">
                    <span>
                      30
                    </span>
                  </div>
                  <div class="balance-app__blocks-item-text">
                    <span>
                      liabilities
                    </span>
                    <span>
                      $450
                    </span>
                  </div>
                </div>
              </div>
              <div class="balance-app__blocks-pair-desc">
                <span>
                  Treasury (Federal government)
                </span>
              </div>
            </div>
            <div class="balance-app__blocks-pair">
              <div class="balance-app__blocks-pair-text">
                <span>
                  assets
                </span>
                <span>
                  240$
                </span>
                <span>
                  liabilities
                </span>
              </div>
              <div class="balance-app__blocks-instance" style="height: calc(100% - 20px)">
                <div class="balance-app__blocks-item balance-app__blocks-item_equity" style="height: 160px">
                  <div class="balance-app__delta-txt  balance-app__delta-txt_left">
                    <span>
                      30
                    </span>
                  </div>
                  <div class="balance-app__blocks-item-text">
                    <span>
                      Equity
                    </span>
                    <span>
                      $450
                    </span>
                  </div>
                </div>
              </div>
              <div class="balance-app__blocks-instance" style="height: calc(100% - 20px)">
                <div class="balance-app__blocks-item balance-app__blocks-item_equity" style="height: 120px">
                  <div class="balance-app__delta-txt  balance-app__delta-txt_right">
                    <span>
                      30
                    </span>
                  </div>
                  <div class="balance-app__blocks-item-text">
                    <span>
                      Equity
                    </span>
                    <span>
                      $180
                    </span>
                  </div>
                </div>
                <div class="balance-app__blocks-item balance-app__blocks-item_liabilities" style="height: 40px">
                  <div class="balance-app__delta-txt  balance-app__delta-txt_right">
                    <span>
                      30
                    </span>
                  </div>
                  <div class="balance-app__blocks-item-text">
                    <span>
                      liabilities
                    </span>
                    <span>
                      $60
                    </span>
                  </div>
                </div>
              </div>
              <div class="balance-app__blocks-pair-desc">
                <span>
                  Central Bank (Federal government)
                </span>
              </div>
            </div>
          </div>
          <div class="balance-app__blocks-group">
            <div class="balance-app__blocks-pair">
              <div class="balance-app__blocks-pair-text">
                <span>
                  assets
                </span>
                <span>
                  $370
                </span>
                <span>
                  liabilities
                </span>
              </div>
              <div class="balance-app__blocks-instance" style="height: calc(100% - 20px)">
                <div class="balance-app__blocks-item balance-app__blocks-item_equity" style="height: 120px">
                  <div class="balance-app__delta-txt  balance-app__delta-txt_left">
                    <span>
                      30
                    </span>
                  </div>
                  <div class="balance-app__blocks-item-text">
                    <span>
                      Neg. equity
                    </span>
                    <span>
                      $200
                    </span>
                  </div>
                </div>
                <div class="balance-app__blocks-item balance-app__blocks-item_assets" style="height: 40px">
                  <div class="balance-app__delta-txt  balance-app__delta-txt_left">
                    <span>
                      30
                    </span>
                  </div>
                  <div class="balance-app__blocks-item-text">
                    <span>
                      Assets
                    </span>
                    <span>
                      $170
                    </span>
                  </div>
                </div>
              </div>
              <div class="balance-app__blocks-instance" style="height: calc(100% - 20px)">
                <div class="balance-app__blocks-item balance-app__blocks-item_liabilities" style="height:160px">
                  <div class="balance-app__delta-txt  balance-app__delta-txt_right">
                    <span>
                      30
                    </span>
                  </div>
                  <div class="balance-app__blocks-item-text">
                    <span>
                      liabilities
                    </span>
                    <span>
                      $450
                    </span>
                  </div>
                </div>
              </div>
              <div class="balance-app__blocks-pair-desc">
                <span>
                  Banks
                </span>
              </div>
            </div>
            <div class="balance-app__blocks-pair">
              <div class="balance-app__blocks-pair-text">
                <span>
                  assets
                </span>
                <span>
                  240$
                </span>
                <span>
                  liabilities
                </span>
              </div>
              <div class="balance-app__blocks-instance" style="height: calc(100% - 20px)">
                <div class="balance-app__blocks-item balance-app__blocks-item_equity" style="height: 160px">
                  <div class="balance-app__delta-txt  balance-app__delta-txt_left">
                    <span>
                      30
                    </span>
                  </div>
                  <div class="balance-app__blocks-item-text">
                    <span>
                      Equity
                    </span>
                    <span>
                      $450
                    </span>
                  </div>
                </div>
              </div>
              <div class="balance-app__blocks-instance" style="height: calc(100% - 20px)">
                <div class="balance-app__blocks-item balance-app__blocks-item_equity" style="height: 120px">
                  <div class="balance-app__delta-txt  balance-app__delta-txt_right">
                    <span>
                      30
                    </span>
                  </div>
                  <div class="balance-app__blocks-item-text">
                    <span>
                      Equity
                    </span>
                    <span>
                      $180
                    </span>
                  </div>
                </div>
                <div class="balance-app__blocks-item balance-app__blocks-item_liabilities" style="height: 40px">
                  <div class="balance-app__delta-txt  balance-app__delta-txt_right">
                    <span>
                      30
                    </span>
                  </div>
                  <div class="balance-app__blocks-item-text">
                    <span>
                      liabilities
                    </span>
                    <span>
                      $60
                    </span>
                  </div>
                </div>
              </div>
              <div class="balance-app__blocks-pair-desc">
                <span>
                  Households
                </span>
              </div>
            </div>
            <div class="balance-app__blocks-pair">
              <div class="balance-app__blocks-pair-text">
                <span>
                  assets
                </span>
                <span>
                  240$
                </span>
                <span>
                  liabilities
                </span>
              </div>
              <div class="balance-app__blocks-instance" style="height: calc(100% - 20px)">
                <div class="balance-app__blocks-item balance-app__blocks-item_equity" style="height: 160px">
                  <div class="balance-app__delta-txt  balance-app__delta-txt_left">
                    <span>
                      30
                    </span>
                  </div>
                  <div class="balance-app__blocks-item-text">
                    <span>
                      Equity
                    </span>
                    <span>
                      $450
                    </span>
                  </div>
                </div>
              </div>
              <div class="balance-app__blocks-instance" style="height: calc(100% - 20px)">
                <div class="balance-app__blocks-item balance-app__blocks-item_equity" style="height: 120px">
                  <div class="balance-app__delta-txt  balance-app__delta-txt_right">
                    <span>
                      30
                    </span>
                  </div>
                  <div class="balance-app__blocks-item-text">
                    <span>
                      Equity
                    </span>
                    <span>
                      $180
                    </span>
                  </div>
                </div>
                <div class="balance-app__blocks-item balance-app__blocks-item_liabilities" style="height: 40px">
                  <div class="balance-app__delta-txt  balance-app__delta-txt_right">
                    <span>
                      30
                    </span>
                  </div>
                  <div class="balance-app__blocks-item-text">
                    <span>
                      liabilities
                    </span>
                    <span>
                      $60
                    </span>
                  </div>
                </div>
              </div>
              <div class="balance-app__blocks-pair-desc">
                <span>
                  Companies
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="balance-app__controls">

      </div>
    </div>
  </section>
