<div class="row">
  <div class="col">
    <div class="balance-app__blocks mb-2">
      <div class="balance-app__blocks-tier">
        <div class="balance-app__blocks-group balance-app__blocks-group_not-a-child">
          <div class="balance-app__blocks-pair balance-app__blocks-pair_parent">
            <app-pair-chart [sector]="total" [scale]="0.25" [selectedElementId]="selectedElementId" (elementClicked)="onElementClicked($event)"></app-pair-chart>
          </div>
        </div>
      </div>
      <div class="balance-app__blocks-tier">
        <div class="balance-app__blocks-group balance-app__blocks-group_parent">
          <div class="balance-app__blocks-pair balance-app__blocks-pair_parent">
            <app-pair-chart [sector]="federalGovernment" [scale]="0.5" [selectedElementId]="selectedElementId" (elementClicked)="onElementClicked($event)"></app-pair-chart>
          </div>
          <div class="balance-app__blocks-pair balance-app__blocks-pair_parent">
            <app-pair-chart [sector]="privateSector" [scale]="0.5" [selectedElementId]="selectedElementId" (elementClicked)="onElementClicked($event)"></app-pair-chart>
          </div>
        </div>
      </div>
      <div class="balance-app__blocks-tier balance-app__blocks-tier_shift-right">
        <div class="balance-app__blocks-group ">
          <app-pair-chart [sector]="treasury" [scale]="1.5" [selectedElementId]="selectedElementId" (elementClicked)="onElementClicked($event)"></app-pair-chart>
          <app-pair-chart [sector]="centralBank" [scale]="1.5" [selectedElementId]="selectedElementId" (elementClicked)="onElementClicked($event)"></app-pair-chart>
        </div>
        <div class="balance-app__blocks-group">
          <app-pair-chart [sector]="banks" [scale]="1.5" [selectedElementId]="selectedElementId" (elementClicked)="onElementClicked($event)"></app-pair-chart>
          <app-pair-chart [sector]="houseHolds" [scale]="1.5" [selectedElementId]="selectedElementId" (elementClicked)="onElementClicked($event)"></app-pair-chart>
          <app-pair-chart [sector]="companies" [scale]="1.5" [selectedElementId]="selectedElementId" (elementClicked)="onElementClicked($event)"></app-pair-chart>
        </div>
      </div>
    </div>
  </div>
</div>

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
  </symbol>
</svg>

<div class="row" *ngIf="selectedElementId !== null">
  <div class="col">
    <div class="alert alert-success mb-2" role="alert">
      <h4 class="alert-heading">{{elementDescriptions.get(selectedElementId).translation}}</h4>
      <span [innerHTML]="elementDescriptions.get(selectedElementId).description"></span>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="mb-2">
      <label for="operations" class="form-label">Операция</label>
      <select id="operations" class="form-select form-control"[(ngModel)]="selectedOperation">
        <option *ngFor="let c of operations" [ngValue]="c">{{c.name}}</option>
      </select>
    </div>
    <div class="mb-2">
      <label for="value" class="form-label">Значение</label>
      <input id="value" type="number" class="form-control" [(ngModel)]="value"/>
    </div>
    <div class="btn-group mb-2" role="group" aria-label="Balance operation actions">
      <button class="btn btn-primary" (click)="runOperation()" >Запустить операцию</button>
      <button class="btn btn-secondary" (click)="revertLast()" [disabled]="!economy.canRevertLast()">Откатить</button>
      <button class="btn btn-secondary" (click)="replayLast()" [disabled]="!economy.canReplayLast()">Перезапустить</button>
      <button class="btn btn-danger" (click)="reset()">Сброс</button>
    </div>
    <div class="alert alert-warning d-flex align-items-center mb-2" role="alert" *ngIf="error">
      <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
      <div class="ml-1">
        <span>{{error}}</span>
      </div>
    </div>    
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="alert alert-primary" role="alert">
      <h4 class="alert-heading">{{selectedOperation.name}}</h4>
      <span class="mb-0" [innerHTML]="selectedOperation.description"></span>
    </div>
  </div>
</div>

